@use '../../../node_modules/bootstrap/scss/bootstrap.scss';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
   background-color: #2E3A46; 
    color: #F8F9FA;
}
img{
    max-width: 100%;
}